<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>180a</key>
	<dict>
		<key>2a25</key>
		<string>SerialNumberString</string>
	</dict>
	<key>180d</key>
	<dict>
		<key>2a37</key>
		<string>HeartRateMeasurement</string>
	</dict>
	<key>1820</key>
	<dict>
		<key>2aa0</key>
		<string>BLEHeartWave</string>
	</dict>
	<key>180f</key>
	<dict>
		<key>2a19</key>
		<string>BatteryLevel</string>
	</dict>
</dict>
</plist>
